@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  clear: both;
}

.column-3 {    
    width: 25%;    
}

.column-9 {    
    width: 75%;    
}

.label {
    padding-right: 3px;
    text-align: right;    
}

.column {
  float: left;
  height: 41px;    
}

.input {
  width: 60px;
  height: 30px;    
  padding-left: 5px;
  box-sizing: border-box;
}

.textarea {
  padding-left: 10px;
  margin-bottom: 65px;
}


.h1 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}